
.search .css-hip9hq-MuiPaper-root-MuiAppBar-root{
    background-color: transparent;
    box-shadow: none;
}
.search .css-ancrnh-MuiButtonBase-root-MuiIconButton-root{
    display: none;
}
.search .css-dudo9s-MuiTypography-root{
    color: black !important;
    font-weight: 600;
    text-align: justify;
    font-size: 22px;
}
.search .css-1orzy9s{
    background-color: #fff;
    color: black !important;
    width: 20%;
    height: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
}
.search .css-i4bv87-MuiSvgIcon-root{
    font-size:30px;
}
.search .css-1iz4iln{
    padding: 0;
}
.search .css-yz9k0d-MuiInputBase-input::placeholder{
    font-family: poppins-regular, 'sans-serif';
    font-size: 14px;
text-align: justify;
}
.search .css-hyum1k-MuiToolbar-root{
    padding: 0;
}
