.container{
  width: 85%;
  background-color: rgb(245,246,248);
  padding: 20px;
  box-sizing: border-box;
}
.App{
  overflow: hidden;
  position: relative;
}
.bg-blur{
  z-index: 999;
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.54);
}