@font-face {
  font-family: poppins-regular;
  src: url(./Style/Poppins/Poppins-Regular.ttf);
}

body {
  margin: 0;
    font-family: poppins-regular, 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
